<template>
  <div class="loading"></div>
</template>

<style lang="scss" scoped>
.loading{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    background-image: url("~@/assets/images/loading.gif");
    background-repeat: no-repeat;
    background-position: center;
}
</style>