<script lang="ts">
import { defineComponent, reactive } from "@vue/runtime-core";
export default defineComponent({
    props: {
      size: {
        type: String,
        default: "100px"
      },
      top: {
        type: String,
        default: "10px"
      },
      left: {
        type: String,
        default: "10px"
      },
      name: {
        type: String,
        default: "pokeball.png"
      }

    },
    setup(props){
        const pokeball = reactive({size: props.size, top: props.top, left: props.left, name: props.name});

        return { pokeball };
    }
})
</script>

<template>
  <div class="ball" :style="`width:${pokeball.size}; height:${pokeball.size}; top:${pokeball.top}; left:${pokeball.left}`">
    <img :src="require(`@/assets/images/${pokeball.name}`)">
  </div>
</template>

<style lang="scss" scoped>
.ball{
  display: flex;
  position: absolute;
}
</style>