<script lang="ts">
import { defineComponent, reactive } from "@vue/runtime-core";
import Pokeball from "./Pokeball.vue"
export default defineComponent({
    components: {
        Pokeball
    },
    setup(){
        type pokeball = {
            size: string,
            top: string,
            left: string,
            name: string
        };

        const pageWidth  = document.documentElement.scrollWidth;
        const pageHeight = document.documentElement.scrollHeight;
        const balls = reactive([] as Array<pokeball>);
        const balls_name = reactive(['pokeball.png', 'superball.png', 'ultraball.png']);

        const addBallTop = (ball: pokeball, num: number) => {
            const new_top = String(parseInt(ball.top.substr(0, ball.top.length - 2)) + num) + 'px';
            ball.top = new_top
        }


        const getRandom = (min: number, max: number) => {
            return Math.floor(Math.random() * (max - min + 1)) + min;
        };
        
        // 新增球
        setInterval(() => {
            if (balls.length <= 10){    
                const left = String(getRandom(10, pageWidth - 150)) + 'px';
                const ball_name_index = getRandom(0, balls_name.length - 1);                
                balls.push({size: '100px', top: '10px', left: left, name: balls_name[ball_name_index]});       
            }
        }, 1500);

        // 刪除球
        setInterval(() => {
            balls.forEach(ball => {
                const ball_top = parseInt(ball.top.substr(0, ball.top.length - 2));
                if (ball_top > pageHeight - 180){
                    const ball_index = balls.indexOf(ball);
                    balls.splice(ball_index, ball_index + 1);
                }
            })
        }, 100)

        // 讓球下墜
        setInterval(() => {
            balls.forEach(ball => {
                addBallTop(ball, 20);
            });
        }, 100);

        return { balls };
    }
})
</script>

<template>
    <div class="main">
        <Pokeball v-for="ball in balls" :size="ball.size" :top="ball.top" :left="ball.left" :name="ball.name" :key="ball.top"/>
    </div>
</template>

<style lang="scss" scoped>
.main{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    z-index: -1;
}
</style>