<script lang="ts">
import { defineComponent, reactive } from 'vue';
export default defineComponent({
  props: {
    content: {
      type: Array,
      default: []
    }
  },
  setup(props){
    const topic = reactive({'content': props.content});

    return { topic };
  }
})
</script>

<template>
  <div class="main">
    <div class="content">
      <span v-for="item in topic.content" :key="item.Id" :class="{textYellow: item.keyWord === true}">
        {{item.text}}&thinsp;
      </span>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.main{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 2%;
  >.content{
    display: -webkit-box;
    box-sizing: border-box;
    font-weight: bold;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    >.textYellow{
      color: red;
    }
  }
}
</style>