<script lang="ts">
import axios from 'axios';
import { defineComponent, onMounted, reactive } from 'vue';
import { useRoute } from 'vue-router';
export default defineComponent({
  setup(){
    const route = useRoute();
    const route_split = route.path.split('/');    
    const topic_Id = parseInt(route_split[route_split.length - 1]);
    type topic = {
      content: string,
      type: string
    };
    const topics = reactive({topic_info: [] as Array<topic>, topic_answer: [] as Array<topic>});
    const getTopicInfo = (topic_Id : number) => {
      axios.get(`http://localhost:5000/topicInfo/${topic_Id}`)
      .then((res) => {
        const result = res.data;        
        if (result.status){
          topics.topic_info = result.data as Array<topic>;          
        }
      })
    }
    const getTopicAnswer = (topic_Id : number) => {
      axios.get(`http://localhost:5000/answerInfo/${topic_Id}`)
      .then((res) => {
        const result = res.data;        
        if (result.status){
          topics.topic_answer = result.data as Array<topic>;          
        }
      })
    }
    onMounted(() => {
      getTopicInfo(topic_Id);
      getTopicAnswer(topic_Id);
    });   

    return { topics };
  }
})
</script>

<template>
<div class="topic">
  <div class="backFrame">
    <router-link to="/" class="link">
      <img src="~@/assets/images/back.png" class="back">
    </router-link>
  </div>
  <div class="main">
    <div class="info">
      <div class="title">
        Question
      </div>
      <div class="wire"></div>
      <div class="content" v-for="item in topics.topic_info" :key="item.content">
        <div v-if="item.type === 'text'">
          {{item.content}}
        </div>
        <div v-if="item.content === ''" class="space"></div>
        <img :src="item.content" v-if="item.type === 'picture'">
      </div>
    </div>
    <div class="space"></div>
    <div class="answer">
      <div class="title">
        Answer
      </div>
      <div class="wire"></div>
      <div class="content" v-for="item in topics.topic_answer" :key="item.content">
        <div v-if="item.type === 'text'">
          {{item.content}}
        </div>
        <div v-if="item.content === ''" class="space"></div>
        <img :src="item.content" v-if="item.type === 'picture'">
      </div>
    </div>
  </div>
</div>
</template>

<style lang="scss" scoped>
.topic{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  overflow: auto;
  >.backFrame{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
    padding: 1% 0% 0% 3%;
    >.link{
      >.back{
        max-width: 80px;
      }
    }
  }
  >.main{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0% 15% 2% 15%;
    align-content: flex-start;
    >.info{
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      align-content: flex-start;
      >.title{
        width: 100%;
        height: 80px;
        font-size: 50px;
        color: rgb(243, 111, 63);
      }
      >.wire{
        width: 100%;
        height: 10px;
        border-top-style: solid;
        border-color: rgb(247, 195, 100);
      }
      >.content{
        width: 100%;
        font-size: 20px;
        >.space{
          width: 100%;
          height: 35px;
        }
      }
    }
    >.space{
      width: 100%;
      height: 20px;
    }
    >.answer{
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      align-content: flex-start;
      >.title{
        width: 100%;
        height: 80px;
        font-size: 50px;
        color: rgb(243, 111, 63);
      }
      >.wire{
        width: 100%;
        height: 10px;
        border-top-style: solid;
        border-color: rgb(247, 195, 100);
      }
      >.content{
        width: 100%;
        font-size: 20px;
        >.space{
          width: 100%;
          height: 35px;
        }
      }
    }
  }
}


</style>