<script lang="ts">
import { defineComponent } from "@vue/runtime-core";
import PokeballBackground from './components/PokeballBackground.vue'
export default defineComponent({
  components: {
    PokeballBackground
  }
})
</script>

<template>
  <router-view/>
  <PokeballBackground /> 
</template>

<style lang="scss">
html,
body{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
#app {
  display: flex;
  width: 100%;
  height: 100%;
}

</style>
