<script lang="ts">
import { computed, defineComponent, onMounted, reactive } from 'vue';
import Topic from '../components/Topic.vue';
import Loading from '../components/Loading.vue'
import axios from 'axios';
import Pagination from "@hennge/vue3-pagination";
import "@hennge/vue3-pagination/dist/vue3-pagination.css";
import { useStore } from 'vuex';
export default defineComponent({
  components: {
    Topic,
    Loading,
    Pagination
  },
  setup(){
    onMounted(() => {
      document.getElementById("search")?.focus();
    })
    const store = useStore()
    const query = computed(() => store.getters.query)    
    const topics = computed(() => store.getters.topics)
    const search = reactive({button_color_status: false})
    // 搜尋資料
    const search_topics = (now_page : number = 1) => { 
      store.dispatch('changeTopic', {data: [], total: 1})
      store.dispatch('changeQuery', {start: (now_page - 1) * 5 + 1, num: 5, loading: true})
      store.dispatch('getSearchContent', {query: query.value})
    };
    // 更改topic底色
    const changeTopicFrame = (topic_Id: string) => {
      document.getElementById(topic_Id)?.classList.add("frame");
    }
    // 還原topic底色
    const returnTopicFrame = (topic_Id: string) => {
      document.getElementById(topic_Id)?.classList.remove("frame");
    }
    // 變更搜尋按鈕大小
    const changeSearchButtonBackgroundColor = () => {     
      search.button_color_status = !search.button_color_status;
    }

    return { query, topics, search, search_topics, changeSearchButtonBackgroundColor, changeTopicFrame, returnTopicFrame };
  }
})
</script>

<template>
  <div class="main">
    <div class="title">
      <img src="~@/assets/images/book.png" class="picture">
      <div class="text">
        Question Search System
      </div>
    </div>
    <div class="search">
      <div class="search_input">
        <div class="label">
          <img src="~@/assets/images/pikachu.png" class="picture">
        </div>
        <input type="text" id="search" class="input" v-model="query.query" @keyup.enter="search_topics()">
      </div>
      <div class="button_back">
        <div :class="['button', {big: search.button_color_status}]" @mouseenter="changeSearchButtonBackgroundColor()" @mouseleave="changeSearchButtonBackgroundColor()" @click="search_topics()">
          <div class="text">
            Search
          </div>
        </div>
      </div>
    </div>
    <div class="content">
      <router-link :id="item.topic_Id" class="topic" v-for="item in topics.data" :key="item.topic_Id" :to="`/topic/${item.topic_Id}`" @mouseenter="changeTopicFrame(item.topic_Id)" @mouseleave="returnTopicFrame(item.topic_Id)">
        <Topic :content="item.question"/>
      </router-link>
      <Loading v-if="query.loading" />
    </div>
    <div class="bottom">
      <Pagination  v-model="topics.now_page" :pages="topics.total" :rangeSize="2" active-color="#DCEDFF" @update:modelValue="search_topics(topics.now_page)" v-if="topics.total != 0" />
    </div>
  </div>
</template>

<style lang="scss" scoped>
.main{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  justify-items: center;
  align-content: flex-start;
  .title{
    display: flex;
    width: 100%;
    height: 10%;
    justify-content: center;
    align-items: center;
    >.picture{
      width: 3%;
      margin-right: 1%;
      background-repeat: no-repeat;
      background-repeat: no-repeat;
      background-position: center;
    }
    >.text{
      font-size: 30px;
      font-weight: bold;
      text-align: center;
    }
  }
  .search{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 10%;
    box-sizing: border-box;
    padding: 0 15% 2% 15%;
    >.search_input{
      display: flex;
      flex-wrap: wrap;
      width: 80%;
      height: 100%;
      >.label{
        display: flex;
        width: 20%;
        height: 100%;
        justify-content: right;
        align-items: center;
        box-sizing: border-box;
        padding-right: 3%;
        >.picture{
          width: 50%;
          background-repeat: no-repeat;
          background-repeat: no-repeat;
          background-position: center;
        }
        
      }
      >.input{
        width: 80%;
        height: 100%;
        box-sizing: border-box;
        font-size: 25px;
        border-radius: 15px;
        border-style: solid;
        border-color: rgb(247, 195, 100);
        outline: none;
        box-sizing: border-box;
        padding: 0% 1% 0% 1%;
      }
    }
    >.button_back{
      display: flex;
      flex-wrap: wrap;
      width: 20%;
      height: 100%;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      padding-left: 1%;
      >.button{
        display: flex;
        flex-wrap: wrap;
        width: 40%;
        height: 90%;
        justify-content: center;
        align-items: center;
        border-radius: 15px; 
        text-align: center;
        box-sizing: border-box;
        background-color: rgb(243, 111, 63);
        cursor: pointer;
        >.text{
          font-size: 25px;
          font-weight: bold;
          color: #fff;
        }
      }
      >.big{
        width: 45%;
        height: 100%;
      }
    }
  }
  .content{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 100%;
    height: 70%;
    box-sizing: border-box;
    padding: 2% 30% 2% 30%;
    >.topic{
      width: 100%;
      height: 20%;
      border-radius: 15px;
      text-decoration: none;
      color: #000;
    }
    >.frame{
      background-color: rgb(220, 248, 255);
    }
  }
  .bottom{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 10%;
    justify-content: center;
  }
}
</style>